<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!-- 字符编码过滤器设置-->
    <filter>
        <filter-name>PageEncodingFilter</filter-name>
        <filter-class>com.bjf.shop.filter.PageEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>PageEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- 设置启动进入初始页面-->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--配置servlet-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.bjf.shop.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TypePageServlet</servlet-name>
        <servlet-class>com.bjf.shop.servlet.TypePageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TypePageServlet</servlet-name>
        <url-pattern>/TypePageServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ClassificationServlet</servlet-name>
        <servlet-class>com.bjf.shop.servlet.ClassificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClassificationServlet</servlet-name>
        <url-pattern>/ClassificationServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NumDataServlet</servlet-name>
        <servlet-class>com.bjf.shop.servlet.NumDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NumDataServlet</servlet-name>
        <url-pattern>/NumDataServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StartServlet</servlet-name>
        <servlet-class>com.bjf.shop.servlet.StartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartServlet</servlet-name>
        <url-pattern>/StartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>LinkServlet</servlet-name>
    <servlet-class>com.bjf.shop.servlet.LinkServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>LinkServlet</servlet-name>
        <url-pattern>/LinkServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PlayServlet</servlet-name>
        <servlet-class>com.bjf.shop.servlet.PlayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlayServlet</servlet-name>
        <url-pattern>/PlayServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>com.bjf.shop.servlet.CommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/CommentServlet</url-pattern>
    </servlet-mapping>
</web-app>