<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.bjf.shop.entity"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>

            <!--             <dataSource type="POOLED"> -->
            <!--                 <property name="driver" value="com.mysql.jdbc.Driver"/> -->
            <!--                 <property name="url" value="jdbc:mysql://localhost:3306/how2java?characterEncoding=UTF-8"/> -->
            <!--                 <property name="username" value="root"/> -->
            <!--                 <property name="password" value="admin"/> -->
            <!--             </dataSource> -->

            <dataSource type="org.mybatis.c3p0.C3P0DataSourceFactory">
                <property name="driverClass" value="com.mysql.jdbc.Driver" />
                <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/dnfdb?useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true&amp;failOverReadOnly=false"/>
                <property name="user" value="root" />
                <property name="password" value="admin" />

                <!-- 连接池初始化大小为3 -->
                <property name="initialPoolSize" value="3"/>
                <!-- 连接池最大为10 -->
                <property name="maxPoolSize" value="10"/>
                <!-- 连接池最小为3 -->
                <property name="minPoolSize" value="3"/>
                <!--连接池占满后提供服务-->
                <property name="breakAfterAcquireFailure" value="false"/>
                <!--获取连接失败时重试10次-->
                <property name="acquireRetryAttempts" value="10"/>
                <!--每30秒检查一次空闲连接，加快释放连接-->
                <property name="idleConnectionTestPeriod" value="30"/>
                <!--连接10秒内不使用则释放连接，加快连接释放-->
                <property name="maxIdleTime" value="5"/>
                <!-- 连接池在无空闲连接可用时一次性最多创建的新数据库连接数  -->
                <property name="acquireIncrement" value="5"/>
                <!-- 连接的最大空闲时间，如果超过这个时间（秒），某个数据库连接还没有被使用，则会断开掉这个连接。如果为0，则永远不会断开连接,即回收此连接 -->
                <property name="maxIdleTime" value="30"/>

                <!-- 最大的Statement数量 -->
                <property name="maxStatements" value="50"/>
                <!-- 每个连接启动的最大Statement数量 -->
                <property name="maxStatementsPerConnection" value="5"/>
                <!-- 同时运行的线程数 -->
                <property name="numHelperThreads" value="10"/>

            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/bjf/shop/entity/DnfUser.xml"/>
        <mapper resource="com/bjf/shop/entity/DnfMovielabe.xml"/>
    </mappers>
</configuration>